=bootstrap_form_with model: @shop, local: true do |f|
  =f.text_field :name
  =f.text_field :adress
  =f.text_field :email
  =f.text_field :tel
  =f.text_field :website
  =f.text_field :business_hour
  =f.text_field :regular_closed
  =f.text_area :introduction
  =f.file_field :image
  =f.file_field :image_2
  =f.file_field :image_3
  =f.file_field :image_4
  =f.file_field :image_owner
  =f.collection_check_boxes :category_ids, Category.all, :id, :name, class: 'form-contral'

  -# =f.hidden_field :image_cache
  -# -if @shop.image?
  -#   .m-t-5
  -#     =image_tag @shop.image_url(:thumb)
  -#     .checkbox.checkbox-primary.m-t-5
  -#       =f.check_box_without_bootstrap :remove_image
  -#       =f.label :remove_image, 'Image Delete'
  -#
  =f.submit class: "btn btn-info"
%br
=link_to "Back to the list", shops_path
