.col-lg-6.col-md-12
  .widget.search
    .input-group.mb-3
      = search_form_for(@shop_search.search, url: shops_category_path(category_key: params[:category_key])) do |f|
        = f.label :area_id_eq, 'Area'
        = f.collection_select :area_id_eq, @areas, :id, :name, :include_blank => 'other'
        = f.submit
.col-lg-6.col-md-12
  .widget.search
    .input-group.mb-3
      %input.form-control{"aria-describedby" => "button-addon2", "aria-label" => "Recipient's username", :placeholder => "Type here...", :type => "text"}/
      .input-group-append
        %button#button-addon2.butn{:type => "button"}
          %span.ti-search
