-# .container
-#   -@shops.each do |shop|
-#     -# =link_to "#{work.title} / #{work.director.name}(#{work.release.year})", work_path(work)
-#     .row
-#       SHOP :
-#       =link_to "#{shop.name}", shop_path(shop)
-#     .row
-#       ADRESS :
-#       =shop.adress
-#     .row
-#       TEL :
-#       =shop.tel
-#     .row
-#       =image_tag shop.image_url, class: 'img-fluid'
-#       -# =link_to "Edit", edit_shop_path(shop)
-#       -# =link_to "Delete", work_path(shop), method: :delete, data: {confirm: "Are you sure?"}
-# .container
-#   =link_to "Registrarion", new_shop_path

#preloader
  .row.loader
    .loader-icon
/ end page loading
/ start main-wrapper section
.main-wrapper
  %section.bg-img.screen-height.cover-background.laxury-banner{"data-background" => "img/top/topnail.jpg", "data-overlay-dark" => "1"}
    / start banner text
    .container.h-100
      .header-text.text-center.display-table.h-100.w-100
        .display-table-cell.vertical-align-middle
          %p.font-size16.text-white.margin-20px-bottom.font-weight-400.text-uppercase Find Beauty Salon & Spa
          %h1.text-uppercase Maple Beauty Hunter

    / end banner text
  / end banner
  / start about us section
  %section
    .container
      .row
        .col-md-6.align-self-center.xs-margin-30px-bottom
          .row.justify-content-center.about
            .col-lg-10.text-center
              .margin-30px-bottom.text-theme-color.xs-margin-10px-bottom.text-uppercase.letter-spacing-2 Toronto Beauty
              %h4.margin-40px-bottom.xs-margin-10px-bottom Let's find a beauty salon with us!
              %p.no-margin-bottom トロントで生活する学生，ビジター，すべての日本人に向けた美容院，美容サロン検索サイト．オシャレを我慢せず，気になるお店をチェックしてトロントで自分だけのオシャレを楽しもう♥
        .col-md-6
          %div
            %img{:alt => "", :src => "img/top/naominailsnyc.jpg"}/
  / end about us section
  / start counter section
  -# %section.no-padding-top
  -#   .container
  -#     .row
  -#       .col-6.col-md-3.xs-margin-30px-bottom
  -#         .text-center.xs-text-left
  -#           %h4.countup.font-size48.sm-font-size42.xs-font-size32.no-margin-bottom 845
  -#           %p.no-margin-bottom.font-size16.xs-font-size15.letter-spacing-1.font-weight-600.text-extra-dark-gray Rooms
  -#       .col-6.col-md-3.xs-margin-30px-bottom
  -#         .text-center.xs-text-left
  -#           %h4.countup.font-size48.sm-font-size42.xs-font-size32.no-margin-bottom 919
  -#           %p.no-margin-bottom.font-size16.xs-font-size15.letter-spacing-1.font-weight-600.text-extra-dark-gray Happy Clients
  -#       .col-6.col-md-3
  -#         .text-center.xs-text-left
  -#           %h4.countup.font-size48.sm-font-size42.xs-font-size32.no-margin-bottom 114
  -#           %p.no-margin-bottom.font-size16.xs-font-size15.letter-spacing-1.font-weight-600.text-extra-dark-gray Awards
  -#       .col-6.col-md-3
  -#         .text-center.xs-text-left
  -#           %h4.countup.font-size48.sm-font-size42.xs-font-size32.no-margin-bottom 572
  -#           %p.no-margin-bottom.font-size16.xs-font-size15.letter-spacing-1.font-weight-600.text-extra-dark-gray Staff
  -# / end counter section
  -# / start our rooms section
  %section
    .container
      .text-center.margin-50px-bottom.xs-margin-30px-bottom
        %h3.margin-10px-bottom New Infomation
        %p.no-margin-bottom 新着情報チェック★
      .row

      -@shops.each do |shop|
        .col-md-6.col-lg-4.margin-30px-bottom
          .border
            -# %img{:alt => "", :src => "img/content/room-5.jpg"}/
            -if shop.image.present?
              =image_tag shop.image_url(:thumb)
            -else
              %img{:alt => "", :src => "img/content/room-5.jpg"}/
            .padding-25px-all
              -# %a{:href => "single-room.html"}
              =link_to shop_path(shop) do
                %h5.margin-5px-bottom.font-size28.xs-font-size24=shop.name
              .font-size12.text-uppercase.text-extra-dark-gray.font-weight-700.margin-20px-bottom.letter-spacing-2 New Infomation
              =link_to shop_path(shop) do
                -# %a.font-weight-600.text-theme-color{:href => "single-room.html"}
                .font-weight-600.text-theme-color
                  Shop Details
                  %i.fas.fa-arrow-right.margin-10px-left.vertical-align.middle.font-size12
        -# .col-md-6.col-lg-4.margin-30px-bottom
        -#   .border
        -#     %img{:alt => "", :src => "img/content/room-6.jpg"}/
        -#     .padding-25px-all
        -#       %a{:href => "single-room.html"}
        -#         %h5.margin-5px-bottom.font-size28.xs-font-size24 Family Room
        -#       .font-size12.text-uppercase.text-extra-dark-gray.font-weight-700.margin-20px-bottom.letter-spacing-2 Start from $550/night
        -#       %a.font-weight-600.text-theme-color{:href => "single-room.html"}
        -#         Room Details
        -#         %i.fas.fa-arrow-right.margin-10px-left.vertical-align.middle.font-size12
        -# .col-md-6.col-lg-4.margin-30px-bottom
        -#   .border
        -#     %img{:alt => "", :src => "img/content/room-7.jpg"}/
        -#     .padding-25px-all
        -#       %a{:href => "single-room.html"}
        -#         %h5.margin-5px-bottom.font-size28.xs-font-size24 Classic Room
        -#       .font-size12.text-uppercase.text-extra-dark-gray.font-weight-700.margin-20px-bottom.letter-spacing-2 Start from $340/night
        -#       %a.font-weight-600.text-theme-color{:href => "single-room.html"}
        -#         Room Details
        -#         %i.fas.fa-arrow-right.margin-10px-left.vertical-align.middle.font-size12
        -# .col-md-6.col-lg-4.sm-margin-30px-bottom
        -#   .border
        -#     %img{:alt => "", :src => "img/content/room-8.jpg"}/
        -#     .padding-25px-all
        -#       %a{:href => "single-room.html"}
        -#         %h5.margin-5px-bottom.font-size28.xs-font-size24 Luxury Room
        -#       .font-size12.text-uppercase.text-extra-dark-gray.font-weight-700.margin-20px-bottom.letter-spacing-2 Start from $700/night
        -#       %a.font-weight-600.text-theme-color{:href => "single-room.html"}
        -#         Room Details
        -#         %i.fas.fa-arrow-right.margin-10px-left.vertical-align.middle.font-size12
        -# .col-md-6.col-lg-4.xs-margin-30px-bottom
        -#   .border
        -#     %img{:alt => "", :src => "img/content/room-9.jpg"}/
        -#     .padding-25px-all
        -#       %a{:href => "single-room.html"}
        -#         %h5.margin-5px-bottom.font-size28.xs-font-size24 Couple Room
        -#       .font-size12.text-uppercase.text-extra-dark-gray.font-weight-700.margin-20px-bottom.letter-spacing-2 Start from $400/night
        -#       %a.font-weight-600.text-theme-color{:href => "single-room.html"}
        -#         Room Details
        -#         %i.fas.fa-arrow-right.margin-10px-left.vertical-align.middle.font-size12
        -# .col-md-6.col-lg-4
        -#   .border
        -#     %img{:alt => "", :src => "img/content/room-10.jpg"}/
        -#     .padding-25px-all
        -#       %a{:href => "single-room.html"}
        -#         %h5.margin-5px-bottom.font-size28.xs-font-size24 Superior Room
        -#       .font-size12.text-uppercase.text-extra-dark-gray.font-weight-700.margin-20px-bottom.letter-spacing-2 Start from $350/night
        -#       %a.font-weight-600.text-theme-color{:href => "single-room.html"}
        -#         Room Details
        -#         %i.fas.fa-arrow-right.margin-10px-left.vertical-align.middle.font-size12
  / end our rooms section
  / start tab section
  %section
    .container
      .row
        .col-lg-6.sm-margin-30px-bottom
          .padding-30px-right.sm-no-padding-right
            %h4.text-uppercase Find what you need?
            %p.no-margin-bottom Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. It is a long established fact that a reader will be distracted by the readable content.
        .col-lg-6
          .horizontaltab.tab-style2
            %ul.resp-tabs-list.hor_1
              %li Book Now
              %li Transport
              %li Accommodation
            .resp-tabs-container.hor_1
              %div
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden.
              %div
                Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.
              %div
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.
  / end tab section
  / start extra section
  %section
    .container
      .row.align-items-center.margin-80px-bottom.xs-margin-40px-bottom
        .col-md-6.xs-text-center.xs-margin-30px-bottom
          %img{:alt => "", :src => "img/content/06.jpg"}/
        .col-md-6
          .about-us.padding-40px-left.sm-padding-20px-left.xs-no-padding-left
            %span.font-size16.sm-font-size14.text-uppercase.text-theme-color.letter-spacing-2.font-weight-700 Welcome to Our Hotel
            %h4.margin-fourteen-bottom.sm-margin-seven-bottom.xs-margin-four-bottom.sm-margin-5px-top.margin-20px-top Restaurant
            %p.margin-nine-bottom.sm-margin-seven-bottom.xs-margin-four-bottom Make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            %a.font-weight-600{:href => "#"}
              View More
              %i.fas.fa-arrow-right.margin-10px-left.vertical-align.middle.font-size12
      .row.align-items-center
        .col-md-6.order-2.order-md-1
          .about-us.padding-40px-right.sm-padding-20px-right.xs-no-padding-right
            %span.font-size16.sm-font-size14.text-uppercase.text-theme-color.letter-spacing-2.font-weight-700 Welcome to Our Hotel
            %h4.margin-fourteen-bottom.sm-margin-seven-bottom.xs-margin-four-bottom.sm-margin-5px-top.margin-20px-top Wellness & Spa
            %p.margin-nine-bottom.sm-margin-seven-bottom.xs-margin-four-bottom There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
            %a.font-weight-600{:href => "#"}
              View More
              %i.fas.fa-arrow-right.margin-10px-left.vertical-align.middle.font-size12
        .col-md-6.text-right.xs-text-center.order-1.order-md-2.xs-margin-30px-bottom
          %img{:alt => "", :src => "img/content/07.jpg"}/
  / end extra section
  / start blog section
  %section
    .container
      .text-center.margin-50px-bottom.xs-margin-30px-bottom
        %h3.margin-10px-bottom Our Blog
        %p.no-margin-bottom Lorem Ipsum is simply dummy printing
      .row
        .col-lg-6.sm-margin-30px-bottom
          .row.padding-15px-all.border.margin-30px-bottom.no-gutters.align-items-center
            .col-md-4.xs-margin-20px-bottom
              .agent-image.overflow-hidden
                %a{:href => "blog-details.html"}
                  %img{:alt => "", :src => "img/blog/blog-06.jpg"}/
            .col-md-8
              .padding-30px-left.xs-no-padding-lr.padding-20px-right
                %span.text-uppercase.font-size12.text-theme-color.font-weight-600.letter-spacing-1 Nov. 04, 2019
                %h5.font-size20.margin-10px-top
                  %a.text-extra-dark-gray{:href => "#"} Best oriental hotel channel on youTube for our clients.
                %a.font-weight-600{:href => "blog-details.html"}
                  Read More
                  %i.fas.fa-arrow-right.margin-10px-left.vertical-align.middle.font-size12
          .row.padding-15px-all.border.no-gutters.align-items-center
            .col-md-4.xs-margin-20px-bottom
              .agent-image.overflow-hidden
                %a{:href => "blog-details.html"}
                  %img{:alt => "", :src => "img/blog/blog-07.jpg"}/
            .col-md-8
              .padding-30px-left.xs-no-padding-lr.padding-20px-right
                %span.text-uppercase.font-size12.text-theme-color.font-weight-600.letter-spacing-1 Dec. 20, 2019
                %h5.font-size20.margin-10px-top
                  %a.text-extra-dark-gray{:href => "#"} Great pleasure to care hunger of different customers
                %a.font-weight-600{:href => "blog-details.html"}
                  Read More
                  %i.fas.fa-arrow-right.margin-10px-left.vertical-align.middle.font-size12
        .col-lg-6
          .row.padding-15px-all.border.margin-30px-bottom.no-gutters.align-items-center
            .col-md-4.xs-margin-20px-bottom
              .agent-image.overflow-hidden
                %a{:href => "blog-details.html"}
                  %img{:alt => "", :src => "img/blog/blog-08.jpg"}/
            .col-md-8
              .padding-30px-left.xs-no-padding-lr.padding-20px-right
                %span.text-uppercase.font-size12.text-theme-color.font-weight-600.letter-spacing-1 Jan. 12, 2020
                %h5.font-size20.margin-10px-top
                  %a.text-extra-dark-gray{:href => "#"} Featured Enrolling new members into the hotel.
                %a.font-weight-600{:href => "blog-details.html"}
                  Read More
                  %i.fas.fa-arrow-right.margin-10px-left.vertical-align.middle.font-size12
          .row.padding-15px-all.border.no-gutters.align-items-center
            .col-md-4.xs-margin-20px-bottom
              .agent-image.overflow-hidden
                %a{:href => "blog-details.html"}
                  %img{:alt => "", :src => "img/blog/blog-09.jpg"}/
            .col-md-8
              .padding-30px-left.xs-no-padding-lr.padding-20px-right
                %span.text-uppercase.font-size12.text-theme-color.font-weight-600.letter-spacing-1 Feb. 16, 2020
                %h5.font-size20.margin-10px-top
                  %a.text-extra-dark-gray{:href => "#"} Recommended enhancing life around great food.
                %a.font-weight-600{:href => "blog-details.html"}
                  Read More
                  %i.fas.fa-arrow-right.margin-10px-left.vertical-align.middle.font-size12
  / end blog section
  / start gallery section
  %section.no-padding
    .container-fluid.no-padding
      #portfolio.owl-carousel.owl-theme
        %div
          %img{:alt => "", :src => "img/portfolio/4.jpg"}/
        %div
          %img{:alt => "", :src => "img/portfolio/6.jpg"}/
        %div
          %img{:alt => "", :src => "img/portfolio/7.jpg"}/
        %div
          %img{:alt => "", :src => "img/portfolio/5.jpg"}/
        %div
          %img{:alt => "", :src => "img/portfolio/8.jpg"}/
        %div
          %img{:alt => "", :src => "img/portfolio/9.jpg"}/
        %div
          %img{:alt => "", :src => "img/portfolio/10.jpg"}/
  / end gallery section

/ end main-wrapper section
/ start scroll to top
%a.scroll-to-top{:href => "javascript:void(0)"}
  %i.fas.fa-angle-up{"aria-hidden" => "true"}
