-case params[:category_key]
-when "hair_salon"
  %section.page-title-section.bg-img.cover-background{"data-background" => "/img/top/hair_top2.jpg", "data-overlay-dark" => "1"}
    .container
      %h1 Hair Salon
      %ul
        %li
          =link_to "TOP", tops_path
          -# %a{:href => "index.html"} Home
        %li
          =link_to "Salon", shops_category_path(category_key: "hair_salon")
          -# %a{:href => "#!"} Single Room
  / end page title section
  / start our rooms section
  %section
    .container
      .text-center.margin-50px-bottom.xs-margin-30px-bottom
        %h3.margin-10px-bottom Hair Salons
        %p.margin-30px-bottom トロントの素敵なヘアサロンをご紹介
      =render 'search_form'
      =render 'index_footer'
      -# .row
      -#   -@shops.each do |shop|
      -#     .col-md-6.col-lg-4.margin-30px-bottom
      -#       .border
      -#         =link_to shop_path(shop) do
      -#           =image_tag shop.image_top_url(:shop_index)
      -#           -# %img{:alt => "", :src => "/img/content/room-5.jpg"}/
      -#           .padding-25px-all
      -#             -# %a{:href => "single-room.html"}
      -#             %h5.margin-5px-bottom.font-size28.xs-font-size24=shop.name
      -#             -# .font-size12.text-uppercase.text-extra-dark-gray.font-weight-700.margin-20px-bottom.letter-spacing-2 Start from $250/night
      -#             %p.margin-nine-bottom.sm-margin-seven-bottom.xs-margin-four-bottom=shop.introduction
      -#             .font-weight-600.text-theme-color
      -#               Shop Details
      -#               %i.fas.fa-arrow-right.margin-10px-left.vertical-align.middle.font-size12


      -# .row
      -#   / start links
      -#   .filtering.col-sm-12.text-center
      -#     %span.active{"data-filter" => "*"} All
      -#     %span{"data-filter" => ".food"} Nails
      -#     %span{"data-filter" => ".relaxation"} Eyelash Extention
      -#     %span{"data-filter" => ".vacation"} Others
      -#   / end links
-when "nail"
  %section.page-title-section.bg-img.cover-background{"data-background" => "/img/top/nail_top2.jpg", "data-overlay-dark" => "1"}
    .container
      %h1 Nail & Eyelash
      %ul
        %li
          =link_to "TOP", tops_path
          -# %a{:href => "index.html"} Home
        %li
          =link_to "Salon", shops_category_path(category_key: "nail")
          -# %a{:href => "#!"} Single Room
  / start our rooms section
  %section
    .container
      .text-center.margin-50px-bottom.xs-margin-30px-bottom
        %h3.margin-10px-bottom Nail & Eyelash Salons
        %p.no-margin-bottom ネイルサロン、まつげサロン、自宅でサロンをご紹介
      .row
        .filtering.col-sm-12.text-center
          %span.active{"data-filter" => "*"} All
          %span{"data-filter" => ".food"} Nails
          %span{"data-filter" => ".relaxation"} Eyelash Extention
          %span{"data-filter" => ".vacation"} Others
      =render 'search_form'
      =render 'index_footer'
-when "spa"
  %section.page-title-section.bg-img.cover-background{"data-background" => "/img/top/facial.jpg", "data-overlay-dark" => "1"}
    .container
      %h1 Spa & Other salons
      %ul
        %li
          =link_to "TOP", tops_path
          -# %a{:href => "index.html"} Homez
        %li
          =link_to "Salon", shops_category_path(category_key: "spa")
          -# %a{:href => "#!"} Single Room
  / start our rooms section
  %section
    .container
      .text-center.margin-50px-bottom.xs-margin-30px-bottom
        %h3.margin-10px-bottom Spa, other salons
        %p.no-margin-bottom フェイシャル、マッサージなどのエステサロンをご紹介
      .row
        / start links
        .filtering.col-sm-12.text-center
          %span.active{"data-filter" => "*"} All
          %span{"data-filter" => ".food"} Nails
          %span{"data-filter" => ".relaxation"} Eyelash Extention
          %span{"data-filter" => ".vacation"} Others
      =render 'search_form'
      =render 'index_footer'
