.container
  -@shops.each do |shop|
    -# =link_to "#{work.title} / #{work.director.name}(#{work.release.year})", work_path(work)
    .row
      SHOP :
      =link_to "#{shop.name}", shop_path(shop)
    .row
      ADRESS :
      =shop.adress
    .row
      TEL :
      =shop.tel
    .row
      =image_tag shop.image_url, class: 'img-fluid'
      -# =link_to "Edit", edit_shop_path(shop)
      -# =link_to "Delete", work_path(shop), method: :delete, data: {confirm: "Are you sure?"}
.container
  =link_to "Registrarion", new_shop_path
