
/ start page title section
%section.page-title-section.bg-img.cover-background{"data-background" => "img/banner/bg-01.jpg", "data-overlay-dark" => "4"}
  .container
    %h1 Gallery Masonry
    %ul
      %li
        %a{:href => "index.html"} Home
      %li
        %a{:href => "#!"} Gallery Masonry
/ end page title section
/ start gallery section
%section
  .container
    .row
      .masonry
        %a{:href => "javascript:void(0)"}
          .masonry-item
            %img{:alt => "", :src => "img/portfolio/masonry-01.jpg"}/
            .masonry-item-overlay
              %h4 Rooms
        %a{:href => "javascript:void(0)"}
          .masonry-item
            %img{:alt => "", :src => "img/portfolio/masonry-02.jpg"}/
            .masonry-item-overlay
              %h4 Design Central
        %a{:href => "javascript:void(0)"}
          .masonry-item
            %img{:alt => "", :src => "img/portfolio/masonry-03.jpg"}/
            .masonry-item-overlay
              %h4 Organized Noize
        %a{:href => "javascript:void(0)"}
          .masonry-item
            %img{:alt => "", :src => "img/portfolio/masonry-04.jpg"}/
            .masonry-item-overlay
              %h4 Ny Week
        %a{:href => "javascript:void(0)"}
          .masonry-item
            %img{:alt => "", :src => "img/portfolio/masonry-05.jpg"}/
            .masonry-item-overlay
              %h4 Retro Look
        %a{:href => "javascript:void(0)"}
          .masonry-item
            %img{:alt => "", :src => "img/portfolio/masonry-06.jpg"}/
            .masonry-item-overlay
              %h4 Remake
        %a{:href => "javascript:void(0)"}
          .masonry-item
            %img{:alt => "", :src => "img/portfolio/masonry-07.jpg"}/
            .masonry-item-overlay
              %h4 A Letter To September
        %a{:href => "javascript:void(0)"}
          .masonry-item
            %img{:alt => "", :src => "img/portfolio/masonry-08.jpg"}/
            .masonry-item-overlay
              %h4 Wanderlust Alphabet
/ end gallery section
