!!!
%html{:lang => "en"}
  %head
    / metas
    %meta{:charset => "utf-8"}/
    %meta{:content => "Chitrakoot Web", :name => "author"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "Septosha Hotel Booking Bootstrap Template", :name => "keywords"}/
    %meta{:content => "Fivestar - Hotel Booking Bootstrap Template", :name => "description"}/
    / title
    %title Fivestar - Hotel Booking Bootstrap Template
    / favicon
    %link{:href => "img/logos/favicon.png", :rel => "shortcut icon"}/
    %link{:href => "img/logos/apple-touch-icon-57x57.png", :rel => "apple-touch-icon"}/
    %link{:href => "img/logos/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "img/logos/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    / plugins
    %link{:href => "css/plugins.css", :rel => "stylesheet"}/
    / search css
    %link{:href => "search/search.css", :rel => "stylesheet"}/
    / core style css
    %link{:href => "css/styles.css", :rel => "stylesheet"}/
  %body
    / start page loading
    #preloader
      .row.loader
        .loader-icon
    / end page loading
    / start main-wrapper section
    .main-wrapper
      / start header section

      / start page title section
      %section.page-title-section.bg-img.cover-background{"data-background" => "img/banner/bg-01.jpg", "data-overlay-dark" => "4"}
        .container
          %h1 Single Room
          %ul
            %li
              %a{:href => "index.html"} Home
            %li
              %a{:href => "#!"} Single Room
      / end page title section
      / start single rooms section
      %section
        .container
          .row
            .col-lg-10.center-col
              #single-room.owl-carousel.owl-theme
                %div
                  %img{:alt => "", :src => "img/content/room-11.jpg"}/
                %div
                  %img{:alt => "", :src => "img/content/room-12.jpg"}/
                %div
                  %img{:alt => "", :src => "img/content/room-13.jpg"}/
                %div
                  %img{:alt => "", :src => "img/content/room-14.jpg"}/
              .margin-30px-top
                .horizontaltab.tab-style1
                  %ul.resp-tabs-list.hor_1
                    %li Room Details
                    %li Location
                    %li Reviews
                  .resp-tabs-container.hor_1
                    %div
                      .border-bottom.margin-30px-bottom.padding-30px-bottom
                        %h4.font-size28.xs-font-size24 Information
                        %p.no-margin-bottom It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages.
                      %h4.font-size28.xs-font-size24 Facility
                      .row
                        .col-md-4
                          %ul.list-style-2
                            %li Casino
                            %li Health Club
                            %li Pet Friendly
                            %li Safe Deposit Box
                        .col-md-4
                          %ul.list-style-2
                            %li Elevator
                            %li Minibar
                            %li Restaurant
                            %li Sauna
                        .col-md-4
                          %ul.list-style-2
                            %li Garage Space
                            %li Parking
                            %li Room Service
                            %li Wi-Fi
                    %div
                      %h4.font-size28.xs-font-size24 Location
                      %iframe#gmap_canvas.map{:marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?q=london&t=&z=13&ie=UTF8&iwloc=&output=embed"}
                      .row.margin-40px-top
                        .col-md-4.xs-margin-20px-bottom
                          %h5.font-size22.xs-font-size20.xs-no-margin-bottom.margin-10px-bottom City
                          %p.no-margin-bottom London
                        .col-md-4.xs-margin-20px-bottom
                          %h5.font-size22.xs-font-size20.xs-no-margin-bottom.margin-10px-bottom Hotel contact
                          %p.no-margin-bottom (+44) 123 456 789
                          %p.no-margin-bottom City Main Street
                        .col-md-4
                          %h5.font-size22.xs-font-size20.xs-no-margin-bottom.margin-10px-bottom Reservations
                          %p.no-margin-bottom your@name.com
                    %div
                      %h4.font-size28.xs-font-size24 Reviews
                      .blogs
                        .comments-area
                          .comment-box
                            .author-thumb
                              %img.rounded-circle.width-85.xs-width-100{:alt => "", :src => "img/blog/01.png"}/
                            .comment-info
                              %h6
                                %a{:href => "javascript:void(0);"} Alex Joyrina
                              %p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              .reply
                                %a{:href => "javascript:void(0);"}
                                  %i.fa.fa-reply{"aria-hidden" => "true"}
                                  Reply
                          .comment-box
                            .author-thumb
                              %img.rounded-circle.width-85.xs-width-100{:alt => "", :src => "img/blog/02.png"}/
                            .comment-info
                              %h6
                                %a{:href => "javascript:void(0);"} Jama Karleny
                              %p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              .reply
                                %a{:href => "javascript:void(0);"}
                                  %i.fa.fa-reply{"aria-hidden" => "true"}
                                  Reply
                          .comment-box
                            .author-thumb
                              %img.rounded-circle.width-85.xs-width-100{:alt => "", :src => "img/blog/03.png"}/
                            .comment-info
                              %h6
                                %a{:href => "javascript:void(0);"} Ivonne Drennen
                              %p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              .reply
                                %a{:href => "javascript:void(0);"}
                                  %i.fa.fa-reply{"aria-hidden" => "true"}
                                  Reply
                        .comment-form
                          %div
                            %h4.font-size28.xs-font-size24 Post a Comment
                          %form{:action => "#!", :method => "post"}
                            .row
                              .col-md-6
                                .form-group
                                  %input#form_name{:name => "name", :placeholder => "Name", :type => "text"}/
                              .col-md-6
                                .form-group
                                  %input#form_email{:name => "email", :placeholder => "Email", :type => "email"}/
                              .col-md-12
                                .form-group
                                  %textarea#form_message{:name => "message", :placeholder => "Message", :rows => "4"}
                              .col-md-12
                                %button.butn{:type => "submit"}
                                  %span Send Message
      / end single rooms section
      / start footer section
      %footer
        .footer-area.padding-70px-tb.md-padding-40px-tb.xs-padding-30px-tb
          .container
            .row
              .col-lg-3.col-sm-6.sm-margin-30px-bottom
                %img.width-70.margin-30px-bottom.xs-margin-20px-bottom{:alt => "", :src => "img/logos/logo.png"}/
                %address.width-70.no-margin-bottom 74 Guild Street 542B, Great North Town MT.
              .col-lg-3.col-sm-6.sm-margin-30px-bottom
                %h3.footer-title-style1 Reservation
                %ul.list-style-1.no-margin
                  %li
                    %span
                      %strong Email:
                      addyour@emailhere
                  %li
                    %span
                      %strong Tel:
                      (+44) 123 456 789
              .col-lg-3.col-sm-6.mobile-margin-30px-bottom
                %h3.footer-title-style1 Useful Links
                %ul.list-style-1.no-margin-bottom
                  %li
                    %a{:href => "#!"} Location
                  %li
                    %a{:href => "#!"} Terms & Conditions
                  %li
                    %a{:href => "#!"} About Us
              .col-lg-3.col-sm-6
                %h3.footer-title-style1 Social Links
                %ul.social-icon-style.no-margin
                  %li
                    %a{:href => "javascript:void(0)"}
                      %i.fab.fa-facebook-f
                  %li
                    %a{:href => "javascript:void(0)"}
                      %i.fab.fa-twitter
                  %li
                    %a{:href => "javascript:void(0)"}
                      %i.fab.fa-instagram
                  %li
                    %a{:href => "javascript:void(0)"}
                      %i.fab.fa-linkedin-in
        .footer-bar.xs-padding-15px-tb
          .container
            .text-center
              %p © 2020 Fivestar is Powered by Chitrakoot Web
      / end footer section
    / end main-wrapper section
    / start scroll to top
    %a.scroll-to-top{:href => "javascript:void(0)"}
      %i.fas.fa-angle-up{"aria-hidden" => "true"}
    / end scroll to top
    / all js include start
    / jQuery
    %script{:src => "js/jquery.min.js"}
    / modernizr js
    %script{:src => "js/modernizr.js"}
    / bootstrap
    %script{:src => "js/bootstrap.min.js"}
    / Serch
    %script{:src => "search/search.js"}
    / navigation
    %script{:src => "js/nav-menu.js"}
    / tab
    %script{:src => "js/easy.responsive.tabs.js"}
    / owl carousel
    %script{:src => "js/owl.carousel.js"}
    / jquery.counterup.min
    %script{:src => "js/jquery.counterup.min.js"}
    / stellar js
    %script{:src => "js/jquery.stellar.min.js"}
    / waypoints js
    %script{:src => "js/waypoints.min.js"}
    / countdown js
    %script{:src => "js/countdown.js"}
    / jquery.magnific-popup js
    %script{:src => "js/jquery.magnific-popup.min.js"}
    / datepicker js
    %script{:src => "js/datepicker.min.js"}
    / isotope.pkgd.min js
    %script{:src => "js/isotope.pkgd.min.js"}
    / custom scripts
    %script{:src => "js/main.js"}
    / all js include end
