!!!
%html{:lang => "en"}
  %head
    / metas
    %meta{:charset => "utf-8"}/
    %meta{:content => "Chitrakoot Web", :name => "author"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "Septosha Hotel Booking Bootstrap Template", :name => "keywords"}/
    %meta{:content => "Fivestar - Hotel Booking Bootstrap Template", :name => "description"}/
    / title
    %title Fivestar - Hotel Booking Bootstrap Template
    / favicon
    %link{:href => "img/logos/favicon.png", :rel => "shortcut icon"}/
    %link{:href => "img/logos/apple-touch-icon-57x57.png", :rel => "apple-touch-icon"}/
    %link{:href => "img/logos/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "img/logos/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    / plugins
    %link{:href => "css/plugins.css", :rel => "stylesheet"}/
    / search css
    %link{:href => "search/search.css", :rel => "stylesheet"}/
    / core style css
    %link{:href => "css/styles.css", :rel => "stylesheet"}/
  %body
    / start page loading
    #preloader
      .row.loader
        .loader-icon
    / end page loading
    / start main-wrapper section
    .main-wrapper
      / start header section
      %header
        .navbar-default
          / start top search
          .top-search.bg-black
            .container
              %form.search-form{"accept-charset" => "utf-8", :action => "search.html", :method => "GET"}
                .input-group
                  %span.input-group-addon.cursor-pointer
                    %button.search-form_submit.fas.fa-search.font-size18.text-white{:type => "submit"}
                  %input.search-form_input.form-control{:autocomplete => "off", :name => "s", :placeholder => "Type & hit enter...", :type => "text"}/
                  %span.input-group-addon.close-search
                    %i.fas.fa-times.font-size18.line-height-28.margin-5px-top
          / end top search
          .container
            .row.align-items-center
              .col-12.col-lg-12
                .menu_area.alt-font.sm-padding-10px-tb
                  %nav.navbar.navbar-expand-lg.navbar-light.no-padding
                    .navbar-header.navbar-header-custom
                      / start logo
                      %a.navbar-brand.logo4{:href => "index.html"}
                        %img#logo{:alt => "logo", :src => "img/logos/logo.png"}/
                      / end logo
                    .navbar-toggler
                    / start menu area
                    %ul#nav.navbar-nav.ml-auto{:style => "display: none;"}
                      %li
                        %a{:href => "#"} Home
                        %ul
                          %li
                            %a{:href => "demo-1.html"} Demo-1
                          %li
                            %a{:href => "demo-2.html"} Demo-2
                          %li
                            %a{:href => "demo-3.html"} Demo-3
                      %li
                        %a{:href => "about.html"} About Us
                      %li
                        %a{:href => "#"} Pages
                        %ul
                          %li
                            %a{:href => "testimonial.html"} Testimonial
                          %li
                            %a{:href => "offer-packages.html"} Offre Packages
                          %li
                            %a{:href => "my-booking.html"} My Booking
                          %li
                            %a{:href => "restaurant.html"} Restaurant
                          %li
                            %a{:href => "#"} Other
                            %ul
                              %li
                                %a{:href => "login.html"} Login
                              %li
                                %a{:href => "registration.html"} Registration
                              %li
                                %a{:href => "coming-soon.html"} Coming Soon
                              %li
                                %a{:href => "404-page.html"} 404 Page
                      %li
                        %a{:href => "#"} Rooms
                        %ul
                          %li
                            %a{:href => "our-rooms.html"} Our Rooms
                          %li
                            %a{:href => "single-room.html"} Single Rooms
                      %li
                        %a{:href => "#"} Gallery
                        %ul
                          %li
                            %a{:href => "gallery-style1.html"} Gallery style1
                          %li
                            %a{:href => "gallery-style2.html"} Gallery style2
                          %li
                            %a{:href => "gallery-masonry.html"} Gallery Masonry
                          %li
                            %a{:href => "single-gallery.html"} Single Gallery
                      %li
                        %a{:href => "#"} Blog
                        %ul
                          %li
                            %a{:href => "blog-grid.html"} Blog Grid
                          %li
                            %a{:href => "blog-details.html"} Blog Detail
                          %li
                            %a{:href => "blog-masonry.html"} Blog Masonry
                      %li
                        %a{:href => "contact-us.html"} Contact
                    / end menu area
                    / start atribute navigation
                    .attr-nav.sm-no-margin.sm-margin-65px-right.xs-margin-50px-right
                      %ul.no-margin-top
                        %li.search
                          %a{:href => "#"}
                            %i.fas.fa-search
                    / end atribute navigation
      / end header section
      / start page title section
      %section.page-title-section.bg-img.cover-background{"data-background" => "img/banner/bg-01.jpg", "data-overlay-dark" => "4"}
        .container
          %h1 Testimonial
          %ul
            %li
              %a{:href => "index.html"} Home
            %li
              %a{:href => "#!"} Testimonial
      / end page title section
      / start testimonial style-1 section
      %section
        .container
          .text-center.margin-50px-bottom
            %h3.margin-10px-bottom Testimonial style 1
            %p.no-margin-bottom Lorem Ipsum is simply dummy printing
          .row
            .col-md-6.xs-margin-40px-bottom
              .theme-shadow.padding-50px-all.sm-padding-40px-all.testimonial
                %p.line-height-35.sm-line-height-35.font-size18.sm-font-size16.text-extra-dark-gray.margin-30px-bottom It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.
                .d-flex.align-items-center
                  .margin-15px-right
                    %img.img-fluid.rounded-circle.width-60px{:alt => "", :src => "img/testmonials/t-1.jpg"}/
                  %div
                    %h6.font-size18.no-margin-bottom Isabel Rowla
                    %small Customer
            .col-md-6
              .theme-shadow.padding-50px-all.sm-padding-40px-all.testimonial
                %p.line-height-35.sm-line-height-35.font-size18.sm-font-size16.text-extra-dark-gray.margin-30px-bottom Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still.
                .d-flex.align-items-center
                  .margin-15px-right
                    %img.img-fluid.rounded-circle.width-60px{:alt => "", :src => "img/testmonials/t-2.jpg"}/
                  %div
                    %h6.font-size18.no-margin-bottom James Martin
                    %small Customer
      / end testimonial style-1 section
      / start testimonial style-2 section
      %section
        .container
          .text-center.margin-50px-bottom.xs-margin-30px-bottom
            %h3.margin-10px-bottom Testimonial style 2
            %p.no-margin-bottom Lorem Ipsum is simply dummy printing
          #testmonials-carousel.owl-carousel.owl-theme.text-center
            %div
              %img.rounded-circle.margin-30px-bottom{:alt => "", :src => "img/testmonials/t-1.jpg"}/
              %p.line-height-35.xs-line-height-30.font-size18.xs-font-size16.text-extra-dark-gray.margin-30px-bottom.xs-margin-25px-bottom.width-60.md-width-65.sm-width-85.xs-width-100.center-col.font-italic "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer."
              %h6.font-size18.no-margin-bottom Isabel Rowla
              %small Customer
            %div
              %img.rounded-circle.margin-30px-bottom{:alt => "", :src => "img/testmonials/t-2.jpg"}/
              %p.line-height-35.xs-line-height-30.font-size18.xs-font-size16.text-extra-dark-gray.margin-30px-bottom.xs-margin-25px-bottom.width-60.md-width-65.sm-width-85.xs-width-100.center-col.font-italic "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer."
              %h6.font-size18.no-margin-bottom James Martin
              %small Customer
            %div
              %img.rounded-circle.margin-30px-bottom{:alt => "", :src => "img/testmonials/t-3.jpg"}/
              %p.line-height-35.xs-line-height-30.font-size18.xs-font-size16.text-extra-dark-gray.margin-30px-bottom.xs-margin-25px-bottom.width-60.md-width-65.sm-width-85.xs-width-100.center-col.font-italic "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer."
              %h6.font-size18.no-margin-bottom Joe Shepard
              %small Customer
      / end testimonial style-2 section
      / start footer section
      %footer
        .footer-area.padding-70px-tb.md-padding-40px-tb.xs-padding-30px-tb
          .container
            .row
              .col-lg-3.col-sm-6.sm-margin-30px-bottom
                %img.width-70.margin-30px-bottom.xs-margin-20px-bottom{:alt => "", :src => "img/logos/logo.png"}/
                %address.width-70.no-margin-bottom 74 Guild Street 542B, Great North Town MT.
              .col-lg-3.col-sm-6.sm-margin-30px-bottom
                %h3.footer-title-style1 Reservation
                %ul.list-style-1.no-margin
                  %li
                    %span
                      %strong Email:
                      addyour@emailhere
                  %li
                    %span
                      %strong Tel:
                      (+44) 123 456 789
              .col-lg-3.col-sm-6.mobile-margin-30px-bottom
                %h3.footer-title-style1 Useful Links
                %ul.list-style-1.no-margin-bottom
                  %li
                    %a{:href => "#!"} Location
                  %li
                    %a{:href => "#!"} Terms & Conditions
                  %li
                    %a{:href => "#!"} About Us
              .col-lg-3.col-sm-6
                %h3.footer-title-style1 Social Links
                %ul.social-icon-style.no-margin
                  %li
                    %a{:href => "javascript:void(0)"}
                      %i.fab.fa-facebook-f
                  %li
                    %a{:href => "javascript:void(0)"}
                      %i.fab.fa-twitter
                  %li
                    %a{:href => "javascript:void(0)"}
                      %i.fab.fa-instagram
                  %li
                    %a{:href => "javascript:void(0)"}
                      %i.fab.fa-linkedin-in
        .footer-bar.xs-padding-15px-tb
          .container
            .text-center
              %p © 2020 Fivestar is Powered by Chitrakoot Web
      / end footer section
    / end main-wrapper section
    / start scroll to top
    %a.scroll-to-top{:href => "javascript:void(0)"}
      %i.fas.fa-angle-up{"aria-hidden" => "true"}
    / end scroll to top
    / all js include start
    / jQuery
    %script{:src => "js/jquery.min.js"}
    / modernizr js
    %script{:src => "js/modernizr.js"}
    / bootstrap
    %script{:src => "js/bootstrap.min.js"}
    / Serch
    %script{:src => "search/search.js"}
    / navigation
    %script{:src => "js/nav-menu.js"}
    / tab
    %script{:src => "js/easy.responsive.tabs.js"}
    / owl carousel
    %script{:src => "js/owl.carousel.js"}
    / jquery.counterup.min
    %script{:src => "js/jquery.counterup.min.js"}
    / stellar js
    %script{:src => "js/jquery.stellar.min.js"}
    / waypoints js
    %script{:src => "js/waypoints.min.js"}
    / countdown js
    %script{:src => "js/countdown.js"}
    / jquery.magnific-popup js
    %script{:src => "js/jquery.magnific-popup.min.js"}
    / datepicker js
    %script{:src => "js/datepicker.min.js"}
    / isotope.pkgd.min js
    %script{:src => "js/isotope.pkgd.min.js"}
    / custom scripts
    %script{:src => "js/main.js"}
    / all js include end
