
%section.page-title-section.bg-img.cover-background{"data-background" => "img/top/aboutus.jpg", "data-overlay-dark" => "1"}
  .container
    %h1 About us
    %ul
      %li
        =link_to 'home', root_path
      %li
        =link_to 'about us', about_path

-# %section.padding_0px
-#   .container
-#     .row.align-items-center
-#       %div
