
%section.page-title-section.bg-img.cover-background{"data-background" => "img/top/top_us.jpg", "data-overlay-dark" => "1"}
  .container
    %h1 About us
    %ul
      %li
        =link_to 'home', root_path
      %li
        =link_to 'contact us', root_path
-# %section.padding_0px
-#   .container
-#     .row.align-items-center
-#       %div

/ start blog detail section
%section.blogs
  .container
    .row
      / start blog left
      .col-lg-9.col-md-12.sm-margin-50px-bottom
        .posts.padding-30px-right.sm-no-padding-right
          / start post
          .post
            .post-img
              %img{:alt => "", :src => "/img/blog/blog-04.jpg"}/
            .content
              .blog-list-simple-text.post-meta.margin-20px-bottom
                .post-title
                  %h5 Food, wine with all things permissive.
              .margin-30px-bottom
                %p.margin-30px-bottom Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum complectitur et, eam ut veri omnium fabulas. Mel et duis dicat prodesset ei, ius ne lorem veritus repudiandae, quidam ocurreret elaboraret te sit. Eos eu nisl nonumy. Has alum iisque mentitum id, tale partem ei mei cibo mundi ea duo, vim exerci phaedrum complectitur et. Saepe veniam nostrud usu at, ullum dolores comprehensam est in, mazim imperdiet sea id.
                %p.text-extra-dark-gray.font-weight-500.blog-blockquote.position-relative.padding-40px-left.font-italic.margin-30px-bottom It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
                %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.
              %p Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum complectitur et, eam ut veri omnium fabulas. Mel duis dicat prodesset ei, ius ne lorem veritus repudiandae, quidam ocurreret elaboraret te sit. Eos eu nisl nonumy. Has iisque mentitum id, tale partem ei mei. Saepe veniam nostrud.
              .share-post
                %span Share Post
                %ul.no-margin-bottom
                  %li
                    %a{:href => "javascript:void(0);"}
                      %i.fab.fa-facebook-f
                  %li
                    %a{:href => "javascript:void(0);"}
                      %i.fab.fa-twitter
                  %li
                    %a{:href => "javascript:void(0);"}
                      %i.fab.fa-instagram
                  %li
                    %a{:href => "javascript:void(0);"}
                      %i.fab.fa-youtube
                  %li
                    %a{:href => "javascript:void(0);"}
                      %i.fab.fa-linkedin-in
          / start post
          / start pager
          .text-center.margin-30px-bottom
            .pagination.text-small.text-uppercase.text-extra-dark-gray
              %ul
                %li.active
                  %a{:href => "javascript:void(0);"} Prev
                %li
                  %a{:href => "#!"} Next
          / end pager
          / start comment
          .comments-area
            .title-g.margin-30px-bottom
              %h3 Comments
            .comment-box
              .author-thumb
                %img.rounded-circle.width-85.xs-width-100{:alt => "", :src => "img/blog/01.png"}/
              .comment-info
                %h6
                  %a{:href => "javascript:void(0);"} Alex Joyrina
                %p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .reply
                  %a{:href => "javascript:void(0);"}
                    %i.fa.fa-reply{"aria-hidden" => "true"}
                    Reply
            .comment-box
              .author-thumb
                %img.rounded-circle.width-85.xs-width-100{:alt => "", :src => "img/blog/02.png"}/
              .comment-info
                %h6
                  %a{:href => "javascript:void(0);"} Jama Karleny
                %p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .reply
                  %a{:href => "javascript:void(0);"}
                    %i.fa.fa-reply{"aria-hidden" => "true"}
                    Reply
            .comment-box
              .author-thumb
                %img.rounded-circle.width-85.xs-width-100{:alt => "", :src => "img/blog/03.png"}/
              .comment-info
                %h6
                  %a{:href => "javascript:void(0);"} Ivonne Drennen
                %p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .reply
                  %a{:href => "javascript:void(0);"}
                    %i.fa.fa-reply{"aria-hidden" => "true"}
                    Reply
          / end comment
          / start form
          .comment-form
            %div
              %h4.font-size28.xs-font-size24 Post a Comment
            %form{:action => "#!", :method => "post"}
              .row
                .col-md-6
                  .form-group
                    %input#form_name{:name => "name", :placeholder => "Name", :type => "text"}/
                .col-md-6
                  .form-group
                    %input#form_email{:name => "email", :placeholder => "Email", :type => "email"}/
                .col-md-12
                  .form-group
                    %textarea#form_message{:name => "message", :placeholder => "Message", :rows => "4"}
                .col-md-12
                  %button.butn{:type => "submit"}
                    %span Send Message
          / end form
      / end blog left
      / start blog right
      .col-lg-3.col-md-12
        .side-bar
          .widget.search
            .input-group.mb-3
              %input.form-control{"aria-describedby" => "button-addon2", "aria-label" => "Recipient's username", :placeholder => "Type here...", :type => "text"}/
              .input-group-append
                %button#button-addon2.butn{:type => "button"}
                  %span.ti-search
          .widget
            .text-center
              %h5.card-title.font-size20.margin-30px-bottom About Author
              %img.border-radius-50.margin-20px-bottom{:alt => "", :src => "img/testmonials/t-3.jpg"}/
              %div
                %h6.font-italic.font-size18 Joe Shepard
                %p.card-text.border-bottom.padding-20px-bottom Excepteur enim aute dolor culpa aliqua nulla.
                %ul.social-listing.no-margin-bottom
                  %li
                    %a{:href => "javascript:void(0);"}
                      %i.fab.fa-facebook-f
                  %li
                    %a{:href => "javascript:void(0);"}
                      %i.fab.fa-twitter
                  %li
                    %a{:href => "javascript:void(0);"}
                      %i.fab.fa-instagram
                  %li
                    %a{:href => "javascript:void(0);"}
                      %i.fab.fa-youtube
                  %li
                    %a{:href => "javascript:void(0);"}
                      %i.fab.fa-linkedin-in
          .widget
            .widget-title.margin-35px-bottom
              %h3 Categories
            %ul.widget-list
              %li
                %a{:href => "#"}
                  Restaurants
              %li
                %a{:href => "#"}
                  Destinations
              %li
                %a{:href => "#"}
                  Beauty & Spa
              %li
                %a{:href => "#"}
                  Shopping
              %li
                %a{:href => "#"}
                  Entertainment
              %li
                %a{:href => "#"}
                  Health & Care
          .widget
            .widget-title.margin-35px-bottom
              %h3 Recent Posts
            .media.margin-20px-bottom
              %img.mr-3.border-radius-4{:alt => "", :src => "img/blog/blog-15.jpg"}/
              .media-body
                %h5.no-margin-top.margin-5px-bottom.font-size17
                  %a.text-extra-dark-gray{:href => "#"} Nice interior
                %span.font-size14.text-theme-color 20 Jan, 2020
            .media.margin-20px-bottom
              %img.mr-3.border-radius-4{:alt => "", :src => "img/blog/blog-16.jpg"}/
              .media-body
                %h5.no-margin-top.margin-5px-bottom.font-size17
                  %a.text-extra-dark-gray{:href => "#"} Recipes
                %span.font-size14.text-theme-color 12 Feb, 2020
            .media
              %img.mr-3.border-radius-4{:alt => "", :src => "img/blog/blog-14.jpg"}/
              .media-body
                %h5.no-margin-top.margin-5px-bottom.font-size17
                  %a.text-extra-dark-gray{:href => "#"} New rooms
                %span.font-size14.text-theme-color 17 Feb, 2020
          .widget
            .widget-title.margin-35px-bottom
              %h3 Tags
            %div
              %ul.tags
                %li
                  %a{:href => "#"} Beauty
                %li
                  %a{:href => "#"} Decoration
                %li
                  %a{:href => "#"} Delicius
                %li
                  %a{:href => "#"} Design
                %li
                  %a{:href => "#"} Fun
                %li
                  %a{:href => "#"} Holiday
                %li
                  %a{:href => "#"} Ideas
                %li
                  %a{:href => "#"} Pleasure
                %li
                  %a{:href => "#"} Vacation
      / end blog right
/ end blog detail section
