/ start blog section
%section
  .container
    .text-center.margin-50px-bottom.xs-margin-30px-bottom
      %h3.margin-10px-bottom Your bookmark
      %p.no-margin-bottom お気に入り
    .row
      .col-lg-6.sm-margin-30px-bottom
        .row.padding-15px-all.border.margin-30px-bottom.no-gutters.align-items-center
          .col-md-4.xs-margin-20px-bottom
            .agent-image.overflow-hidden
              %a{:href => "blog-details.html"}
                %img{:alt => "", :src => "img/blog/blog-06.jpg"}/
          .col-md-8
            .padding-30px-left.xs-no-padding-lr.padding-20px-right
              %span.text-uppercase.font-size12.text-theme-color.font-weight-600.letter-spacing-1 Nov. 04, 2019
              %h5.font-size20.margin-10px-top
                %a.text-extra-dark-gray{:href => "#"} Best oriental hotel channel on youTube for our clients.
              %a.font-weight-600{:href => "blog-details.html"}
                Read More
                %i.fas.fa-arrow-right.margin-10px-left.vertical-align.middle.font-size12
      -#   .row.padding-15px-all.border.no-gutters.align-items-center
      -#     .col-md-4.xs-margin-20px-bottom
      -#       .agent-image.overflow-hidden
      -#         %a{:href => "blog-details.html"}
      -#           %img{:alt => "", :src => "img/blog/blog-07.jpg"}/
      -#     .col-md-8
      -#       .padding-30px-left.xs-no-padding-lr.padding-20px-right
      -#         %span.text-uppercase.font-size12.text-theme-color.font-weight-600.letter-spacing-1 Dec. 20, 2019
      -#         %h5.font-size20.margin-10px-top
      -#           %a.text-extra-dark-gray{:href => "#"} Great pleasure to care hunger of different customers
      -#         %a.font-weight-600{:href => "blog-details.html"}
      -#           Read More
      -#           %i.fas.fa-arrow-right.margin-10px-left.vertical-align.middle.font-size12
      -# .col-lg-6
      -#   .row.padding-15px-all.border.margin-30px-bottom.no-gutters.align-items-center
      -#     .col-md-4.xs-margin-20px-bottom
      -#       .agent-image.overflow-hidden
      -#         %a{:href => "blog-details.html"}
      -#           %img{:alt => "", :src => "img/blog/blog-08.jpg"}/
      -#     .col-md-8
      -#       .padding-30px-left.xs-no-padding-lr.padding-20px-right
      -#         %span.text-uppercase.font-size12.text-theme-color.font-weight-600.letter-spacing-1 Jan. 12, 2020
      -#         %h5.font-size20.margin-10px-top
      -#           %a.text-extra-dark-gray{:href => "#"} Featured Enrolling new members into the hotel.
      -#         %a.font-weight-600{:href => "blog-details.html"}
      -#           Read More
      -#           %i.fas.fa-arrow-right.margin-10px-left.vertical-align.middle.font-size12
      -#   .row.padding-15px-all.border.no-gutters.align-items-center
      -#     .col-md-4.xs-margin-20px-bottom
      -#       .agent-image.overflow-hidden
      -#         %a{:href => "blog-details.html"}
      -#           %img{:alt => "", :src => "img/blog/blog-09.jpg"}/
      -#     .col-md-8
      -#       .padding-30px-left.xs-no-padding-lr.padding-20px-right
      -#         %span.text-uppercase.font-size12.text-theme-color.font-weight-600.letter-spacing-1 Feb. 16, 2020
      -#         %h5.font-size20.margin-10px-top
      -#           %a.text-extra-dark-gray{:href => "#"} Recommended enhancing life around great food.
      -#         %a.font-weight-600{:href => "blog-details.html"}
      -#           Read More
      -#           %i.fas.fa-arrow-right.margin-10px-left.vertical-align.middle.font-size12
/ end blog section
%section.blogs
  .container
    .row
      .side-bar
        -# .widget.search
        -#   .input-group.mb-3
        -#     %input.form-control{"aria-describedby" => "button-addon2", "aria-label" => "Recipient's username", :placeholder => "Type here...", :type => "text"}/
        -#     .input-group-append
        -#       %button#button-addon2.butn{:type => "button"}
        -#         %span.ti-search
        .widget
          .text-center
            %h5.card-title.font-size20.margin-30px-bottom About Author
            -# %img.border-radius-50.margin-20px-bottom{:alt => "", :src => "/img/testmonials/t-3.jpg"}/
            %div
              %h6.font-italic.font-size18 Joe Shepard
              %p.card-text.border-bottom.padding-20px-bottom Excepteur enim aute dolor culpa aliqua nulla.
              %ul.social-listing.no-margin-bottom
                %li
                  %a{:href => "javascript:void(0);"}
                    %i.fab.fa-facebook-f
                %li
                  %a{:href => "javascript:void(0);"}
                    %i.fab.fa-twitter
                %li
                  %a{:href => "javascript:void(0);"}
                    %i.fab.fa-instagram
                %li
                  %a{:href => "javascript:void(0);"}
                    %i.fab.fa-youtube
                %li
                  %a{:href => "javascript:void(0);"}
                    %i.fab.fa-linkedin-in

            .row.justify-content-center
              .col-xl-6.col-lg-7.col-md-12.sm-margin-30px-bottom
                %a.row.no-gutters.margin-30px-bottom.theme-shadow.align-items-center{:href => "blog-details.html"}
                  .col-md-4
                    %img{:alt => "", :src => "/img/blog/blog-01.jpg"}/
                  .col-md-8
                    .padding-15px-lr.xs-padding-30px-all
                      %h5.no-margin-bottom.font-size20 Best oriental hotel channel on youTube for our clients.
                %a.row.no-gutters.theme-shadow.align-items-center{:href => "blog-details.html"}
                  .col-md-4
                    %img{:alt => "", :src => "/img/blog/blog-02.jpg"}/
                  .col-md-8
                    .padding-15px-lr.xs-padding-30px-all
                      %h5.no-margin-bottom.font-size20 Featured Enrolling new members into the hotel.

        .widget
          .widget-title.margin-35px-bottom
            %h3 Categories
          %ul.widget-list
            %li
              %a{:href => "#"}
                Restaurants
            %li
              %a{:href => "#"}
                Destinations
            %li
              %a{:href => "#"}
                Beauty & Spa
            %li
              %a{:href => "#"}
                Shopping
            %li
              %a{:href => "#"}
                Entertainment
            %li
              %a{:href => "#"}
                Health & Care
        .widget
          .widget-title.margin-35px-bottom
            %h3 Recent Posts
          .media.margin-20px-bottom
            %img.mr-3.border-radius-4{:alt => "", :src => "img/blog/blog-15.jpg"}/
            .media-body
              %h5.no-margin-top.margin-5px-bottom.font-size17
                %a.text-extra-dark-gray{:href => "#"} Nice interior
              %span.font-size14.text-theme-color 20 Jan, 2020
          .media.margin-20px-bottom
            %img.mr-3.border-radius-4{:alt => "", :src => "img/blog/blog-16.jpg"}/
            .media-body
              %h5.no-margin-top.margin-5px-bottom.font-size17
                %a.text-extra-dark-gray{:href => "#"} Recipes
              %span.font-size14.text-theme-color 12 Feb, 2020
          .media
            %img.mr-3.border-radius-4{:alt => "", :src => "img/blog/blog-14.jpg"}/
            .media-body
              %h5.no-margin-top.margin-5px-bottom.font-size17
                %a.text-extra-dark-gray{:href => "#"} New rooms
              %span.font-size14.text-theme-color 17 Feb, 2020
        .widget
          .widget-title.margin-35px-bottom
            %h3 Tags
          %div
            %ul.tags
              %li
                %a{:href => "#"} Beauty
              %li
                %a{:href => "#"} Decoration
              %li
                %a{:href => "#"} Delicius
              %li
                %a{:href => "#"} Design
              %li
                %a{:href => "#"} Fun
              %li
                %a{:href => "#"} Holiday
              %li
                %a{:href => "#"} Ideas
              %li
                %a{:href => "#"} Pleasure
              %li
                %a{:href => "#"} Vacation
    / end blog right
