%section.page-title-section.bg-img.cover-background{"data-background" => "/img/top/topnail.jpg", "data-overlay-dark" => "1"}
  .container
    %h1 Welcome back, #{@profile.first_name} !
    %ul
      %li
        =link_to 'home', root_path
      %li
        My page
%section.blogs
  .container
    .row
      .col-lg-3.col-md-12.sm-margin-50px-bottom
        .posts.padding-30px-right.sm-no-padding-right
          .side-bar
            .widget
              .text-center
                %h5.card-title.font-size20.margin-30px-bottom Your Information
                %img.border-radius-50.margin-20px-bottom{:alt => "", :src => "/img/testmonials/t-3.jpg"}/
                %div
                  %h6.font-italic.font-size20=@profile.full_name
                  %p.no-margin-bottom.sm-margin-seven-bottom.xs-margin-four-bottom=@profile.email
                  %p.no-margin-bottom.sm-margin-seven-bottom.xs-margin-four-bottom=@profile.tel
                  %p.card-text.border-bottom.padding-20px-bottom=@profile.status
            .widget
              .text-center
                =link_to('Favorite ♥', { anchor: 'favorite' }, class: 'no-margin-bottom sm-margin-seven-bottom xs-margin-four-bottom')
                =link_to edit_login_profile_path do
                  %p.card-text.border-bottom.padding-45px-bottom Profile の編集

      / start blog left
      .col-lg-9.col-md-12
        .posts.padding-30px-right.sm-no-padding-right

          .text-center.margin-50px-bottom.xs-margin-30px-bottom
            %h3.margin-10px-bottom Your History
            %p.no-margin-bottom 予約履歴
          .row
            -@profile.user.inquiries.each do |inquiry|
              .col-lg-12.sm-margin-30px-bottom
                =link_to shop_path(inquiry.shop) do
                  .row.padding-15px-all.border.margin-30px-bottom.xs-margin-30px-bottom.no-gutters.align-items-center
                    .col-md-3.xs-margin-20px-bottom
                      .agent-image.overflow-hidden
                        -# %a{:href => "blog-details.html"}
                        =image_tag inquiry.shop.image_top_url(:top_info)
                        -# %img{:alt => "", :src => "img/blog/blog-06.jpg"}/
                    .col-md-9
                      .padding-30px-left.xs-no-padding-lr.padding-20px-right
                        %span.text-uppercase.font-size12.text-theme-color.font-weight-600.letter-spacing-1=inquiry.updated_at.strftime("%F")
                        %h5.margin-5px-bottom.font-size28.xs-font-size24=inquiry.shop.name
                        %p.no-margin-bottom.sm-margin-seven-bottom.xs-margin-four-bottom="第1希望日 /　#{inquiry.datetime_1.strftime("%Y年%-m月%-d日　%-H時%-M分")}"
                        -if inquiry.datetime_2.present?
                          %p.no-margin-bottom.sm-margin-seven-bottom.xs-margin-four-bottom="第2希望日 /　#{inquiry.datetime_2.strftime("%Y年%-m月%-d日　%-H時%-M分")}"
                        -if inquiry.datetime_3.present?
                          %p.no-margin-bottom.sm-margin-seven-bottom.xs-margin-four-bottom="第3希望日 /　#{inquiry.datetime_3.strftime("%Y年%-m月%-d日　%-H時%-M分")}"
                        -# %a.font-weight-600{:href => "blog-details.html"}
                        .font-weight-600.margin-nine-top
                          Salon detail
                          %i.fas.fa-arrow-right.margin-10px-left.vertical-align.middle.font-size12
          =paginate @profile

%section#favorite
  .container
    .text-center.margin-50px-bottom.xs-margin-30px-bottom
      %h3.margin-10px-bottom Favorites
      %p.no-margin-bottom お気に入り ♥
    .row.justify-content-center
      -@profile.user.favorites.each do |favorite|
        .col-xl-6.col-lg-6.col-md-12.sm-margin-30px-bottom
          =link_to shop_path(favorite.shop) do
            .row.no-gutters.margin-30px-bottom.theme-shadow.align-items-center
              .col-md-4
                -# %img{:alt => "", :src => "/img/blog/blog-01.jpg"}/
                =image_tag favorite.shop.image_top_url(:top_info)
              .col-md-8
                .padding-15px-lr.xs-padding-30px-all
                  %h5.margin-5px-bottom.font-size24=favorite.shop.name
                  %p.margin-nine-bottom.sm-margin-seven-bottom.xs-margin-four-bottom=favorite.shop.introduction
                  .font-weight-600.text-theme-color
                    Shop Details
                    %i.fas.fa-arrow-right.margin-10px-left.vertical-align.middle.font-size12

              -# %a.row.no-gutters.theme-shadow.align-items-center{:href => "blog-details.html"}
            -#   .col-md-4
            -#     %img{:alt => "", :src => "/img/blog/blog-02.jpg"}/
            -#   .col-md-8
            -#     .padding-15px-lr.xs-padding-30px-all
            -#       %h5.no-margin-bottom.font-size20 Featured Enrolling new members into the hotel.

      -# -@shops.each do |shop|
      -#   .col-lg-6.sm-margin-30px-bottom
      -#     =link_to shop_path(shop) do
      -#       .row.padding-15px-all.border.margin-30px-bottom.no-gutters.align-items-center
      -#         .col-md-4.xs-margin-20px-bottom
      -#           .agent-image.overflow-hidden
      -#             -# %a{:href => "blog-details.html"}
      -#             =image_tag shop.image_top_url(:top_info)
      -#             -# %img{:alt => "", :src => "img/blog/blog-06.jpg"}/
      -#         .col-md-8
      -#           .padding-30px-left.xs-no-padding-lr.padding-20px-right
      -#             %span.text-uppercase.font-size12.text-theme-color.font-weight-600.letter-spacing-1=shop.updated_at.strftime("%F")
      -#             %h5.margin-5px-bottom.font-size28.xs-font-size24=shop.name
      -#             %p.margin-nine-bottom.sm-margin-seven-bottom.xs-margin-four-bottom=shop.introduction
      -#             -# %a.font-weight-600{:href => "blog-details.html"}
      -#             .font-weight-600
      -#               Read More
      -#               %i.fas.fa-arrow-right.margin-10px-left.vertical-align.middle.font-size12
