<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Septosha Hotel Booking Bootstrap Template" />
    <meta name="description" content="Fivestar - Hotel Booking Bootstrap Template" />

    <!-- title  -->
    <title>Fivestar - Hotel Booking Bootstrap Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css" />

    <!-- core style css -->
    <link href="css/styles.css" rel="stylesheet" />

</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->
        <header>

            <div class="navbar-default">

                <!-- start top search -->
                <div class="top-search bg-black">
                    <div class="container">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search font-size18 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times font-size18 line-height-28 margin-5px-top"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font sm-padding-10px-tb">
                                <nav class="navbar navbar-expand-lg navbar-light no-padding">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="index.html" class="navbar-brand logo4"><img id="logo" src="img/logos/logo.png" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- start menu area -->
                                    <ul class="navbar-nav ml-auto" id="nav" style="display: none;">
                                        <li><a href="#">Home</a>
                                            <ul>
                                                <li><a href="demo-1.html">Demo-1</a></li>
                                                <li><a href="demo-2.html">Demo-2</a></li>
                                                <li><a href="demo-3.html">Demo-3</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="#">Pages</a>
                                            <ul>
                                                <li><a href="testimonial.html">Testimonial</a></li>
                                                <li><a href="offer-packages.html">Offre Packages</a></li>
                                                <li><a href="my-booking.html">My Booking</a></li>
                                                <li><a href="restaurant.html">Restaurant</a></li>
                                                <li><a href="#">Other</a>
                                                    <ul>
                                                        <li><a href="login.html">Login</a></li>
                                                        <li><a href="registration.html">Registration</a></li>
                                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                                        <li><a href="404-page.html">404 Page</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Rooms</a>
                                            <ul>
                                                <li><a href="our-rooms.html">Our Rooms</a></li>
                                                <li><a href="single-room.html">Single Rooms</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Gallery</a>
                                            <ul>
                                                <li><a href="gallery-style1.html">Gallery style1</a></li>
                                                <li><a href="gallery-style2.html">Gallery style2</a></li>
                                                <li><a href="gallery-masonry.html">Gallery Masonry</a></li>
                                                <li><a href="single-gallery.html">Single Gallery</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Blog</a>
                                            <ul>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-details.html">Blog Detail</a></li>
                                                <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact-us.html">Contact</a></li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start atribute navigation -->
                                    <div class="attr-nav sm-no-margin sm-margin-65px-right xs-margin-50px-right">
                                        <ul class="no-margin-top">
                                            <li class="search"><a href="#"><i class="fas fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- end atribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!-- end header section -->

        <!-- start page title section -->
        <section class="page-title-section bg-img cover-background" data-overlay-dark="4" data-background="img/banner/bg-01.jpg">
            <div class="container">
                <h1>About Us</h1>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="#!">About Us</a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- end page title section -->

        <!-- start about section -->
        <section class="no-padding-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="padding-30px-right sm-no-padding-right">
                            <h3 class="text-right sm-text-left font-size38 sm-font-size34 xs-font-size28 no-margin-bottom sm-margin-20px-bottom">Our hotel has been award for over 20 years. We build the best for all our clients.</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 sm-margin-20px-bottom">
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when.</p>
                        <p class="no-margin-bottom">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default.</p>
                    </div>
                    <div class="col-lg-3">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                        <p class="no-margin-bottom">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end about section -->

        <!-- start popular things section -->
        <section class="padding-50px-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 sm-margin-30px-bottom">
                        <div class="border">
                            <img src="img/content/room-5.jpg" alt="" />
                            <div class="padding-25px-all">
                                <a href="single-room.html"><h5 class="margin-5px-bottom font-size28 xs-font-size24">Single Room</h5></a>
                                <div class="font-size12 text-uppercase text-extra-dark-gray font-weight-700 margin-20px-bottom letter-spacing-2">Start from $250/night</div>
                                <a href="single-room.html" class="font-weight-600 text-theme-color">Room Details<i class="fas fa-arrow-right margin-10px-left vertical-align middle font-size12"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 sm-margin-30px-bottom">
                        <div class="border">
                            <img src="img/content/room-6.jpg" alt="" />
                            <div class="padding-25px-all">
                                <a href="single-room.html"><h5 class="margin-5px-bottom font-size28 xs-font-size24">Family Room</h5></a>
                                <div class="font-size12 text-uppercase text-extra-dark-gray font-weight-700 margin-20px-bottom letter-spacing-2">Start from $550/night</div>
                                <a href="single-room.html" class="font-weight-600 text-theme-color">Room Details<i class="fas fa-arrow-right margin-10px-left vertical-align middle font-size12"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="border">
                            <img src="img/content/room-7.jpg" alt="" />
                            <div class="padding-25px-all">
                                <a href="single-room.html"><h5 class="margin-5px-bottom font-size28 xs-font-size24">Classic Room</h5></a>
                                <div class="font-size12 text-uppercase text-extra-dark-gray font-weight-700 margin-20px-bottom letter-spacing-2">Start from $340/night</div>
                                <a href="single-room.html" class="font-weight-600 text-theme-color">Room Details<i class="fas fa-arrow-right margin-10px-left vertical-align middle font-size12"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end popular things section -->

        <!-- start counter section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-3 xs-margin-30px-bottom">
                        <div class="text-center xs-text-left">
                            <h4 class="countup font-size48 sm-font-size42 xs-font-size32 no-margin-bottom">845</h4>
                            <p class="no-margin-bottom font-size16 xs-font-size15 letter-spacing-1 font-weight-600 text-extra-dark-gray">Rooms</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 xs-margin-30px-bottom">
                        <div class="text-center xs-text-left">
                            <h4 class="countup font-size48 sm-font-size42 xs-font-size32 no-margin-bottom">919</h4>
                            <p class="no-margin-bottom font-size16 xs-font-size15 letter-spacing-1 font-weight-600 text-extra-dark-gray">Happy Clients</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="text-center xs-text-left">
                            <h4 class="countup font-size48 sm-font-size42 xs-font-size32 no-margin-bottom">114</h4>
                            <p class="no-margin-bottom font-size16 xs-font-size15 letter-spacing-1 font-weight-600 text-extra-dark-gray">Awards</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="text-center xs-text-left">
                            <h4 class="countup font-size48 sm-font-size42 xs-font-size32 no-margin-bottom">572</h4>
                            <p class="no-margin-bottom font-size16 xs-font-size15 letter-spacing-1 font-weight-600 text-extra-dark-gray">Staff</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end counter section -->

        <!-- start services section -->
        <section>
            <div class="container lg-container">
                <div class="text-center margin-70px-bottom xs-margin-30px-bottom">
                    <h3 class="margin-10px-bottom">Hotel Services</h3>
                    <p class="no-margin-bottom">Lorem Ipsum is simply dummy printing</p>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3 md-margin-30px-bottom">
                        <div class="bg-white border padding-40px-all h-100">
                            <span class="margin-20px-bottom font-size40 text-theme-color display-inline-block"><i class="ti-ticket"></i></span>
                            <h3 class="font-size20 margin-20px-bottom sm-margin-10px-bottom">24-hour reception</h3>
                            <p class="no-margin-bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 md-margin-30px-bottom">
                        <div class="bg-white border padding-40px-all h-100">
                            <span class="margin-20px-bottom font-size40 text-theme-color display-inline-block"><i class="ti-eraser"></i></span>
                            <h3 class="font-size20 margin-20px-bottom sm-margin-10px-bottom">Room service</h3>
                            <p class="no-margin-bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 xs-margin-30px-bottom">
                        <div class="bg-white border padding-40px-all h-100">
                            <span class="margin-20px-bottom font-size40 text-theme-color display-inline-block"><i class="ti-bookmark"></i></span>
                            <h3 class="font-size20 margin-20px-bottom sm-margin-10px-bottom">Airport pick up</h3>
                            <p class="no-margin-bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="bg-white border padding-40px-all h-100">
                            <span class="margin-20px-bottom font-size40 text-theme-color display-inline-block"><i class="ti-file"></i></span>
                            <h3 class="font-size20 margin-20px-bottom sm-margin-10px-bottom">Free wifi</h3>
                            <p class="no-margin-bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end services section -->

        <!-- start footer section -->
        <footer>
            <div class="footer-area padding-70px-tb md-padding-40px-tb xs-padding-30px-tb">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 sm-margin-30px-bottom">
                            <img src="img/logos/logo.png" class="width-70 margin-30px-bottom xs-margin-20px-bottom" alt="" />
                            <address class="width-70 no-margin-bottom">74 Guild Street 542B, Great North Town MT.</address>
                        </div>

                        <div class="col-lg-3 col-sm-6 sm-margin-30px-bottom">
                            <h3 class="footer-title-style1">Reservation</h3>
                            <ul class="list-style-1 no-margin">
                                <li>
                                    <span><strong>Email:</strong> addyour@emailhere</span>
                                </li>
                                <li>
                                    <span><strong>Tel:</strong> (+44) 123 456 789</span>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-sm-6 mobile-margin-30px-bottom">
                            <h3 class="footer-title-style1">Useful Links</h3>
                            <ul class="list-style-1 no-margin-bottom">
                                <li><a href="#!">Location</a></li>
                                <li><a href="#!">Terms &amp; Conditions</a></li>
                                <li><a href="#!">About Us</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <h3 class="footer-title-style1">Social Links</h3>
                            <ul class="social-icon-style no-margin">
                                <li>
                                    <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>

            <div class="footer-bar xs-padding-15px-tb">
                <div class="container">
                    <div class="text-center">
                        <p>&copy; 2020 Fivestar is Powered by Chitrakoot Web</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- modernizr js -->
    <script src="js/modernizr.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Serch -->
    <script src="search/search.js"></script>

    <!-- navigation -->
    <script src="js/nav-menu.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- countdown js -->
    <script src="js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- datepicker js -->
    <script src="js/datepicker.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="js/isotope.pkgd.min.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- all js include end -->

</body>

</html>