/ start testimonial style-1 section
%section
  .container
    .text-center.margin-50px-bottom
      %h3.margin-10px-bottom Testimonial style 1
      %p.no-margin-bottom Lorem Ipsum is simply dummy printing
    .row
      .col-md-6.xs-margin-40px-bottom
        .theme-shadow.padding-50px-all.sm-padding-40px-all.testimonial
          %p.line-height-35.sm-line-height-35.font-size18.sm-font-size16.text-extra-dark-gray.margin-30px-bottom It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that.
          .d-flex.align-items-center
            .margin-15px-right
              %img.img-fluid.rounded-circle.width-60px{:alt => "", :src => "img/testmonials/t-1.jpg"}/
            %div
              %h6.font-size18.no-margin-bottom Isabel Rowla
              %small Customer
      .col-md-6
        .theme-shadow.padding-50px-all.sm-padding-40px-all.testimonial
          %p.line-height-35.sm-line-height-35.font-size18.sm-font-size16.text-extra-dark-gray.margin-30px-bottom Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still.
          .d-flex.align-items-center
            .margin-15px-right
              %img.img-fluid.rounded-circle.width-60px{:alt => "", :src => "img/testmonials/t-2.jpg"}/
            %div
              %h6.font-size18.no-margin-bottom James Martin
              %small Customer
/ end testimonial style-1 section
