.padding_0px{
  padding-bottom: 0px;
}

.img_fix {
    width: 535px;
}

/*toppage notice bar*/
.main-wrapper .top-notice {
  position: absolute;
  transition: all 0.5s;
  z-index: 980;
  top: 105px;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 0;
}

/* #categories .top-title h3 {
  position: relative;
  font-weight: 700;
  font-size: 32px;
  z-index: 2;
}

#categories .top-title span {
  position: absolute;
  top: 30px;
  color: #f4f4f4;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 40px;
  line-height: 0;
} */

.footer-site-map {
  padding-left: 60px;
}

@media screen and (max-width: 992px) {
  .footer-site-map {
    padding-left: 15px;
  }
}

@media screen and (max-width: 768px) {
  .footer-mobile-center {
    text-align: center;
  }
  .footer-site-map {
    padding-left: 15px;
  }
}

/* mypage */
.mypage-notice {
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  /* background-color: #e6be8a; */
  color: #ff9966;
  border-radius: 5px;
  border: solid 1px #ff9966;
  /* border: double 5px #ff8243; */
  /* box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32); */
}

.mypage-notice p {
  margin: 0;
  text-align: center;
}
