/ start footer section
%footer
  .footer-area.padding-70px-tb.md-padding-40px-tb.xs-padding-30px-tb
    .container
      .row
        .col-lg-4.col-sm-6.sm-margin-30px-bottom
          %img.width-70.margin-30px-bottom.xs-margin-20px-bottom{:alt => "", :src => "/img/logos/logo.png"}/
          %address.width-70.no-margin-bottom 74 Guild Street 542B, Great North Town MT.
        .col-lg-4.col-sm-6.sm-margin-30px-bottom
          %h3.footer-title-style1 Contact us
          %ul.list-style-1.no-margin
            %li
              %span
                %strong Email:
                beauty.hunter.c@gmail.com
            %li
              %span
                %strong Tel:
                (+44) 123 456 789
        .col-lg-4.col-sm-6.mobile-margin-30px-bottom
          %h3.footer-title-style1 Useful Links
          %ul.list-style-1.no-margin-bottom
            %li
              %a{:href => "#!"} Location
            %li
              %a{:href => "#!"} Terms & Conditions
            %li
              =link_to 'Salon Login', new_admin_session_path
            -# %a{:href => "#!"} Salon Login
        -# .col-lg-3.col-sm-6
        -#   %h3.footer-title-style1 Social Links
        -#   %ul.social-icon-style.no-margin
        -#     %li
        -#       %a{:href => "javascript:void(0)"}
        -#         %i.fab.fa-facebook-f
        -#     %li
        -#       %a{:href => "javascript:void(0)"}
        -#         %i.fab.fa-twitter
        -#     %li
        -#       %a{:href => "javascript:void(0)"}
        -#         %i.fab.fa-instagram
        -#     %li
        -#       %a{:href => "javascript:void(0)"}
        -#         %i.fab.fa-linkedin-in
  .footer-bar.xs-padding-15px-tb
    .container
      .text-center
        %p © 2020 Fivestar is Powered by Chitrakoot Web
/ end footer section
