/ start footer section
%footer
  .footer-area.padding-70px-tb.md-padding-40px-tb.xs-padding-30px-tb
    .container
      .row.footer-mobile-center
        .col-lg-3.col-sm-6.sm-margin-30px-bottom
          %img.width-70.margin-30px-bottom.xs-margin-20px-bottom{:alt => "", :src => "/img/logos/logo.png"}/
          -# %address.width-70.no-margin-bottom 74 Guild Street 542B, Great North Town MT.
          %ul.list-style-1.no-margin
            %li
              %span
                %strong Email:
                beauty.hunter.c@gmail.com
            %li
              %span
                %strong Tel:
                (+44) 123 456 789
        .footer-site-map.col-lg-3.col-sm-6.sm-margin-30px-bottom
          %h3.footer-title-style1 Site Maps
          %ul.list-style-1.no-margin-bottom
            %li
              =link_to 'Top', root_path
            %li
              =link_to '› Hair', shops_category_path(category_key: "hair_salon")
            %li
              =link_to '› Nail & Eyelash', shops_category_path(category_key: "nail")
            %li
              =link_to '› Facial & Spa', shops_category_path(category_key: "spa")
            %li
              =link_to "About Us", about_path
            -# %a{:href => "#!"} Salon Login
        .col-lg-3.col-sm-6.mobile-margin-30px-bottom
          %h3.footer-title-style1 Contact Accounts
          %ul.list-style-1.no-margin-bottom
            %li
              =link_to "Contact Us", about_path
            -if user_signed_in?
              %li
                =link_to "My page", login_profile_path
              %li
                -# %a{:href => "single-room.html"} Sign out
                =link_to "Sign out", destroy_user_session_path

            -else
              %li
                -# %a{:href => "our-rooms.html"} Sign in
                =link_to "Login", new_user_session_path
              %li
                -# %a{:href => "single-room.html"} Create My page
                =link_to "Create My page", new_user_registration_path
            %li
              =link_to 'Salon Login', new_admin_session_path
        .col-lg-3.col-sm-6.mobile-margin-30px-bottom
          %h3.footer-title-style1 Useful Links
          %ul.list-style-1.no-margin-bottom
            %li
              =link_to 'Top', root_path
            %li
              =link_to '› Hair', shops_category_path(category_key: "hair_salon")
            %li
              =link_to '› Nail & Eyelash', shops_category_path(category_key: "nail")
            %li
              =link_to '› Facial & Spa', shops_category_path(category_key: "spa")
            %li
              =link_to "About Us", about_path
        -# .col-lg-3.col-sm-6
        -#   %h3.footer-title-style1 Social Links
        -#   %ul.social-icon-style.no-margin
        -#     %li
        -#       %a{:href => "javascript:void(0)"}
        -#         %i.fab.fa-facebook-f
        -#     %li
        -#       %a{:href => "javascript:void(0)"}
        -#         %i.fab.fa-twitter
        -#     %li
        -#       %a{:href => "javascript:void(0)"}
        -#         %i.fab.fa-instagram
        -#     %li
        -#       %a{:href => "javascript:void(0)"}
        -#         %i.fab.fa-linkedin-in
  .footer-bar.xs-padding-15px-tb
    .container
      .text-center
        %p © 2020 Fivestar is Powered by Chitrakoot Web
/ end footer section
