-# / start page loading
-# #preloader
-#   .row.loader
-#     .loader-icon
-# / end page loading
-# / start main-wrapper section
-# .main-wrapper
/ start header section
%header
  .navbar-default
    .container
      .row.align-items-center
        .col-12.col-lg-12
          .menu_area.alt-font.sm-padding-10px-tb
            %nav.navbar.navbar-expand-lg.navbar-light.no-padding
              .navbar-header.navbar-header-custom
                / start logo
                %a.navbar-brand.logo4{:href => root_path}
                  %img#logo{:alt => "logo", :src => "/img/logos/logo.png"}/
                / end logo
              .navbar-toggler
              / start menu area
              %ul#nav.navbar-nav.ml-auto{:style => "display: none;"}
                -if admin_signed_in?
                  %li
                    -# %a{:href => "about.html"} Hair Salon
                    =link_to "Salon Top", business_shops_path
                  %li
                    =link_to 'Log out', destroy_admin_session_path
                  %li
                    -# %a{:href => "about.html"} Hair Salon
                    =link_to "Contact us", tops_path
                -else
                  %li
                    -# %a{:href => "#"} Top
                    =link_to "TOP", root_path
                  %li
                    -# %a{:href => "about.html"} Hair Salon
                    =link_to "Hair", shops_category_path(category_key: "hair_salon")
                  %li
                    -# %a{:href => "about.html"} Nails & Eyelash
                    =link_to "Nails & Eyelash", shops_category_path(category_key: "nail")
                  %li
                    -# %a{:href => "about.html"} Spa & Facial
                    =link_to "Facial & Spa ", shops_category_path(category_key: "spa")
                  %li
                    %a{:href => "#"} My Page
                    %ul
                      -if user_signed_in?
                        %li
                          =link_to "My page", login_profile_path
                        %li
                          -# %a{:href => "single-room.html"} Sign out
                          =link_to "Sign out", destroy_user_session_path

                      -else
                        %li
                          -# %a{:href => "our-rooms.html"} Sign in
                          =link_to "Login", new_user_session_path
                        %li
                          -# %a{:href => "single-room.html"} Create My page
                          =link_to "Create My page", new_user_registration_path
                  %li
                    =link_to "About us", about_path
